.container
	.footer.animated.infinite.bounce
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://zulfin.web.id' target="_blank") Zulfindra
			|  2014

link(rel='stylesheet', href='/css/style.css')
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')

block footer