div.navbar.navbar-inverse.navbar-fixed-top.animated.slideInDown(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#")
				i.fa.fa-github NodeJS
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#html5") 
						i.fa.fa-html5  HTML5
				li
					a(href="#css3")
						i.fa.fa-css3  CCS3
				li
					a(href="#multiplatform") 
						i.fa.fa-linux  Multiplatform
